/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #6e2c26;
    color: white;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu .menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.checkorder {
    text-align: center;
    margin-top: 5%;
}

.checkorder h2 {
    margin-top: 10%;
    font-family: var(--Kaushan);
    font-size: 140%;
    color: black;
}

.checkorder p {
    font-weight: 300;
    padding: 1.8rem 0;
    color: #000;
}


/*section-footer*/
.footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #10850c;
    display: flex;
    align-items: left;
    color: white;
}
.ordering_food {
    font-size: 20px;
    font-weight: bold;
}

#back {
    width: 3.5%;
    
}
