* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #6e2c26;
    color: white;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
    margin-top: 30%;
}

.table-selection-message {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.table {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #7ad36a;
    transition: transform 0.2s, background-color 0.2s;
}

.table:hover {
    transform: scale(1.05);
}

.table.selected {
    background-color: #f2a541;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reserve-button {
    margin-top: 20px;
    background-color: #5b2d23;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #4a221c;
}
