.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #6e2c26;
    color: white;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.thxmem {
    text-align: center;
}

.thxmem h2 {
    margin-top: 5%;
    font-family: var(--Kaushan);
    font-size: 140%;
    color: black;
}

#snowman {

    width: 50%;
}


/*section-footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #10850c;
    display: flex;
    color: white;
}


.ordering_food {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;

}

.check-bill {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.check-bill-btn {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.check-bill-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}